# Data used to train the models
data/prepared

# Evaluation results
evaluation/

# The models
model/

# DVC Plots
dvc_plots/

## Python
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# Jetbrains IDE folder
.idea/